* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.Big-Header {
  margin-top: 150px;
  text-align: center;
}

.Big-Header h1 {
  color: #fff; /* Text color */
            font-size: 70px; /* Increase the font size */
            text-shadow: 0 0 5px #fff, /* White glow */
                         0 0 10px #fff, /* White glow */
                         0 0 20px #000, /* Magenta glow */
                         0 0 30px #000, /* Magenta glow */
                         0 0 40px #000, /* Magenta glow */
                         0 0 50px #000, /* Magenta glow */
                         0 0 60px #000; /* Magenta glow */
                         animation: glow 0.5s infinite alternate;
}


.Big-Header p {
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}

.Big-Header .CA {
  font-size: 14px;
  color: black;
  margin-bottom: 30px;
}

.Buy_sol {
  border: 2px solid black;
  padding: 10px 30px;
  color: white;
  background-color: black;
  border-radius: 7px;
}

.profile img {
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

.profile {
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media screen  and (max-width:820px){
  .Big-Header h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
  }
  .Big-Header p {
    font-size: 13px;
    margin-bottom: 30px;
    color: white;
    padding: 0px 5px;
  }

  .profile img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
  }

  .Big-Header .CA {
    font-size: 12px;
  }

   

}

