*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

.Big-Header{
    margin-top: 150px;
text-align: center;
}

.Big-Header h1{
font-size:70px;
color: white;
}
.Big-Header p{
    font-size:20px;
    margin-bottom: 30px;
    color: white;
    }
    

    .Big-Header .CA{
        font-size:18px;
        color: gold;
        margin-bottom: 30px;
        }

        .Buy_sol{
            border: 2px solid green;
            padding: 10px 30px;
            color: white;
            background-color: green;
            border-radius:7px;
        }

        .profile img{
height: 500px;
width: 500px;
border-radius: 10px;
        }

        .profile{
            margin-top: 40px;
align-items: center;
justify-content: center;
display: flex;

        }
        

